    body {
      margin: 0;
      font-family: 'Roboto', sans-serif;
    }

    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      width: 20%;
      height: 100%;
      background-color: #333;
      padding-top: 20px;
      box-sizing: border-box;
    }

    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }

    .sidebar li {
      text-align: center;
      margin: 20px 0;
    }

    .sidebar a {
      text-decoration: none;
      color: white;
      display: block;
      padding: 10px;
      transition: background-color 0.3s ease;
    }

    .sidebar a:hover {
      background-color: #555;
      border-radius: 5px;
    }

    .content {
      display: flex;
      margin-left: 20%;
      height: 100vh;
      box-sizing: border-box;
    }

    .text-column {
      width: 40%;
      padding: 40px;
      box-sizing: border-box;
    }

    .image-column {
      width: 40%;
      padding: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
    }

    .image-column img {
      max-width: 100%;
      height: auto;
      margin-bottom: 20px;
    }

    .download-btn {
      background-color: #007BFF;
      color: white;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }

    .download-btn:hover {
      background-color: #0056b3;
    }

    h2 {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
}